@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  margin-top: 100px;
  margin-right: 250px;
  margin-left: 250px;
  border-radius: 10px;
  font-family: "Jost", sans-serif;
  box-shadow: 0px 0.3px 7.7px rgba(0, 0, 0, 0.084),
    0px 0.8px 19.4px rgba(0, 0, 0, 0.12), 0px 1.6px 39.5px rgba(0, 0, 0, 0.15),
    0px 3.3px 81.4px rgba(0, 0, 0, 0.186), 0px 9px 223px rgba(0, 0, 0, 0.27);
}
.login-left {
  flex: 0.4;
}
.login-right {
  flex: 0.6;
  justify-content: center;
  align-items: center;
}
.login-right p {
  color: gray;
  text-decoration: underline;
  cursor: pointer;
  letter-spacing: 1px;
}
.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-header h1 {
  text-align: center;
  color: gray;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form label {
  font-size: 20px;
  color: gray;
  padding-top: 20px;
}
.login-form input {
  width: 90%;
  border: none;
  border-bottom: 2px solid darkgrey;
  outline: none;
  font-size: 20px;
  color: #636e72;
  padding-left: 20px;
}
.login-form button {
  width: 50%;
  margin: 15px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: #60a3bc;
}
.login-form button:hover {
  background-color: #60a3bc;
  color: white;
}
/* ---------------------TODO Media queries here---------------- */
@media screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .login {
    margin-right: 20px;
    margin-left: 20px;
    flex-direction: column;
    height: max-content;
  }
  .login-right {
  }
  .login-left {
    margin: auto;
  }
  .login-left img {
    width: 200px;
    height: auto;
  }
  .login-form button {
    margin: 90px;
  }
}
