.slider {
  height: 340px;
  overflow: hidden;
  position: relative;
  top: 65px;
  width: 85%;
  border-radius: 6px;
  background-color: transparent;
  margin: auto;
}
.slider::before,
.slider::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 80s linear infinite;
  display: flex;
  width: calc(340px * 18);
  height: 400px !important;
}
.slider .slide-track:hover {
  animation-play-state: paused;
}
.slider .slide {
  height: 260px;
  width: 260px;
}
.slide {
  margin-bottom: 22%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
}
.slide:nth-child(1),
.slide:nth-child(10) {
  background-image: url("../assets/one.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(2),
.slide:nth-child(11) {
  background-image: url("../assets/two.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(3),
.slide:nth-child(12) {
  background-image: url("../assets/three.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(4),
.slide:nth-child(13) {
  background-image: url("../assets/four.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(5),
.slide:nth-child(14) {
  background-image: url("../assets/five.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(6),
.slide:nth-child(15) {
  background-image: url("../assets/six.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(7),
.slide:nth-child(16) {
  background-image: url("../assets/diabetes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(8),
.slide:nth-child(17) {
  background-image: url("../assets/diabetic-one.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slide:nth-child(9),
.slide:nth-child(18) {
  background-image: url("../assets/diabetic-two.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.slider .slide-track1 {
  animation: scroll 80s linear infinite;
  animation-direction: reverse;
  display: flex;
  width: calc(340px * 18);
}
.slider .slide-track1:hover {
  animation-play-state: paused;
}
.slide-title {
  color: grey;
  margin-top: 50px;
  font-size: 3vw;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
